<div class="col-12 publication-item">
  <div class="publication-content py-2 position-relative">
    <!-- Publication Details -->
    <div class="publication-details">
      <h5 class="publication-title">{{ include.page.title }}</h5>
      <h6 class="publication-venue">{{ include.page.venue }}</h6>
      <p class="publication-date text-muted">{{ include.page.date | date_to_string }}</p>
      <p class="publication-description">{{ include.page.content | markdownify | truncatewords: 40 }}</p> <!--strip_html was removed because we want bold for my name in author list -->
      <div class="publication-labels">
        {% for label in include.page.labels %}
          <span class="badge rounded-pill">{{ label }}</span>
        {% endfor %}
      </div>
      <div class="text-end">
        <a href="{% if page.publicationurl %}{{ page.publicationurl }}{% else %}{{ site.baseurl}}{{ include.page.url }}{% endif %}" class="btn btn-outline-dark">Read More</a>
      </div>
    </div>

    <!-- Image Thumbnail -->
    {% if include.page.image %}
      <div class="thumbnail-container position-absolute">
        <img src="{{ include.page.image }}" alt="Publication Image" class="thumbnail-image">
      </div>
    {% endif %}
  </div>
</div>
